body {
  font-family: 'Times New Roman', serif;
  background-color: #d8cbb5;
  color: #3a2718;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
}

.input-container {
  margin-bottom: 20px;
}

.filter-button-disabled {
  opacity: 0.5;
}

.filter-button {
  cursor: pointer;
}

.input-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #8a7f70;
  border-radius: 4px;
  width: 300px;
}

.input-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6b5e4f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #5a4e40;
}

.status-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #8a7f70;
  border-radius: 4px;
  margin-bottom: 10px;
  max-width: 100%;
}

.chip {
  background-color: #6b5e4f;
  color: white;
  padding: 2px 10px;
  border-radius: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  justify-content: center;
}

ul li {
  padding: 10px;
  border-bottom: 1px solid #8a7f70;
  display: flex;
  align-items: center;
}

ul li input[type="checkbox"] {
  margin-right: 10px;
}
